* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

h1 {    
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

a {
    color: aquamarine;  
    text-align: center;     
}

img, a, p, #phone {
    display: block;    
    margin: 0 auto;
}

h2 {    
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 21px;
    color: grey;
    margin-bottom: 2rem;
    text-align: center;
}

#footer {
    text-align: right;
}

#camp {
    margin-bottom: 1rem;
}

#phone {
    margin-bottom: 1rem;
}